body{
    background-color: rgb(161, 194, 150);
}

h1{
    color:rgb(21, 69, 22);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#myChart{
    margin:auto; 
    width: 1200px;
    height: 650px;
}